  /*****************************************************************************/
  /*
  /* Common
  /*
  /*****************************************************************************/

  /* Global Reset */
  * {
    margin: 0;
    padding: 0;
  }

  html, body { height: 100%; overflow-x: hidden; }

  body {
    background-color: white;
    font-family: 'Lustria', cursive;
    font-size: 18px;
    text-align: justify;
    color: #3b3330;

  }
  h1 {
    font-size: 32px;
    padding-bottom: 30px;
  }
  p { margin: 1em 0; }

  a{text-decoration: none;}

  /*****************************************************************************/
  /*
  /* Home
  /*
  /*****************************************************************************/
  .posts {
    list-style-type: none;
    text-align: center;
  }
  
  .posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 12px;
  }

  #categories {
    font-family: Monaco, "Courier New", monospace;
    font-size: 15px;
    font-weight:bold;
  }

  .posts li {
      background: #3b3330;
      padding-left: 460px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 100px;
      color: white;
      overflow-x: auto;

  }
  .posts li:nth-child(even) {
      background: white;
      color: #3b3330;
  }


  .posts li a {
      text-decoration: none;
      color: white;
  }
  
  .posts li .titre-post {
      font-family: 'Open Sans Condensed', 'sans-serif';
      font-size: 32px;
      font-weight: normal;
  }

  .posts li:nth-child(even) a {
      color: #3b3330;
  }

  .extract {
      font-family: 'Lustria', cursive;
      font-size: 18px;
  }

  .img-post{
    max-width: 87%;
    max-height: 700px;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
    .img-ca{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .cano-quote{
    text-align: right;
    font-size: 16px;
  }

  #more{
      text-align: center;
      margin-top: 30px;
      
  }

  #more a{
      font-family: 'Lustria', cursive;
      font-size: 20px;
      border-radius: 18px 18px 18px 18px;
      padding: 5px 30px;
      border-style: solid;
      border-width: 2px;
      
  }

  /*****************************************************************************/
  /*
  /* Site
  /*
  /*****************************************************************************/

  .menu {
    float: left;
    text-align: left;
    list-style: none;
    margin-top: 2px;
    text-decoration: none;
    padding: 0;
    background-color: #242424;
    width: 350px;
    height: 100%
  }

  .menu li{
      margin: 20px 40px;
      font-family: 'Pathway Gothic One', cursive;
      font-size: 25px;
      padding: 0;
  }

  .menu li a{
    color: #A4A4A4;
    
  }

  #left-col {
    position: fixed;
    left: 0;
    width: 350px;
    height: 100%;
  }

  #header {
    background: #242424;
    /*position: fixed;
    width: 350px;*/
    height: 250px;
    text-align: center;
  }

  #header h1 {
    margin: 0;
    padding: 20px 30px;
    font-family: 'Special Elite', cursive;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    font-weight:normal;
    color: #A4A4A4;
  }

  #header .img-header{
    /*position: fixed;
    top: 30px;
    left: 35px;
    float: left;*/
    margin-top: -40px;
    width: 280px;
  }

  .contact {
      position: fixed;
      text-align: left;
      bottom: 0;
      left: 25px;
      color: #666;
      font-family: 'Voltaire', cursive;
  }
  
  .contact a {
    text-decoration: none;
    color: #A4A4A4;
  }


  #prez {
    font-family: 'Lekton', cursive;
    font-size: 18px;
    text-align: center;
    color: black;
    /*padding-right: 100px;*/
    border-top: 1px solid #C1C3C3;
    border-bottom: 1px solid #C1C3BE;
    padding: 15px 0;
  }
  
  #boutiques {
      text-align: center;
     padding: 25px 0;
     margin-bottom: 30px;
  }


  #content {
    padding-left: 460px;
    padding-right: 100px;
    font-family: 'Lustria', cursive;
    font-size: 18px;
    text-align: center;
    color: #3b3330;
    overflow-x: auto;
  }

  #content h2{ 
      padding-top: 10px;
      position: relative;
      font-family: 'Open Sans Condensed', 'sans-serif';
      font-size: 32px;
      font-weight: normal;
  }
  
  .inner {
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
  }

  .content-bis{
    text-align: justify;
  }
  
  .content-bis hr{
    margin-top: 35px;
     margin-bottom: 35px;
     color: white;
    border-top: 1px solid #C1C3BE;

  }

  #content a{ 
      color: #666;
      
  }

  #navig-left { 
      left: 0;
      position: absolute;
      font-size: 34px;
      
  }
  #navig-right { 
      right: 0;
      position: absolute;
      font-size: 34px;
  }

  .img-canopolis{
    max-width: 62.5%;
    max-height: 500px;
    display: block;
    margin: 0 auto;
    /*padding-right: 100px;*/
  }
  
  .img-conte {
    max-width: 400px;
    max-height: 400px;
    float: right;

  }
  
  .separation {
      text-align: center;
  }
  
  .img-sep-para {
    max-width: 50px;
    max-height: 50px;

    margin: 45px 0 35px 0;
  }
  
  .logo {
    max-width: 125px;
    max-height: 125px;
  }
  
  #content .epubGreen {
    color: #85b916;
    font-weight:bold;
    
  }
  
  #content .kf8Orange {
    color: #fcaa3c;
    font-weight:bold;
    
  }

  .meta {
    color: #aaa;
  }

  #cadre-post-simple {
      border-bottom:1px solid #C1C3C3;
      width: 700px;
      padding-top: 45px;
  }
  
 .citation {
    color: #585858;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .p-alinea {
    text-indent:15px;
    padding: 0;
    margin: 0;
  }
  
  #img-title {
  height: 210px;
  float: left;
  margin: 0  0 0 15px;
  }
  
    
  #img-title-bis {
  height: 210px;
  float: right;
  margin: 0 0 0 15px;
  }
  
    #img-ligne {
    max-height: 45px;
    display: block;
    margin: 20px auto;
  }
  
  .cat-Title {
    padding-top: 30px;
    font-family: 'Special Elite', cursive;
    text-transform: uppercase;
  }
  
  #content .titres li a {
    color: #3b3330;
      text-align: left;
  }
  #content .titres li a:hover {
    color: #9B826A;
  }
  
  .titres {
  border: 2px dashed rgba(0,0,0,0);
  border-radius: 0 0px 0px 0px;
  padding: 15px 0;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;

  }
  
  .titres li {
  list-style: none;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 18px;
  font-weight:bold;
  text-align: center;
}

.pagination {
    padding-left: 460px;
    padding-right: 100px;
    margin-top: 50px;
    padding-bottom: 40px;
}

.previous {
    float: left;
    color: #3b3330;
        font-family: 'Open Sans Condensed', cursive;
}

.next {
    float:right;
    color: #3b3330;
    font-family: 'Open Sans Condensed', cursive;
}

.terminal-text {
    font-family: 'Courier New', monospace;
}


  /*****************************************************************************/
  /*
  /* Posts
  /*
  /*****************************************************************************/
  .post {
      padding-top: 0;
      padding-bottom: 30px;
      /*padding-right: 100px;*/
  }
  
  .post p {
    text-indent: 30px;
    margin: 5px;
  }
  
  .posts p {
    text-indent: 30px;
    margin: 5px;
  }
